@model WebApplication2.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Movie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalSeats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ticket)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ticket)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgeRestriction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgeRestriction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisabilityResourcesRequirments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisabilityResourcesRequirments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customers)
            </dt>

            <dd>
                @foreach (var customer in @Model.Customers)
                {
                    <p>@customer.Name</p>
                }
            </dd>

            @foreach (var customer in @Model.Customers)
            {
                <p>@customer.Name</p>
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
