@model WebApplication2.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Movie/Edit" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><label for="MovieId">ID:</label></td>
            <td><input id="MovieId" type="number" name="MovieId" value="@Model.Movie.Id" /></td>
        </tr>

        <tr>
            <td>Name:</td>
            <td><input id="MovieName" type="text" name="MovieName" value="@Model.Movie.Name" /></td>
        </tr>

        <tr>
            <td>TotalSeats:</td>
            <td><input id="TotalSeats" type="number" name="TotalSeats" value="@Model.Movie.TotalSeats" /></td>
        </tr>

        <tr>
            <td>Ticket:</td>
            <td><input id="Ticket" type="number" name="Ticket" value="@Model.Movie.Ticket" /></td>
        </tr>

        <tr>
            <td>AgeRestriction:</td>
            <td><input id="AgeRestriction" type="text" name="AgeRestriction" @(Html.Raw(Model.Movie.AgeRestriction ? "checked=\"checked\"" : "")) value="@Model.Movie.AgeRestriction" /></td>
        </tr>

        <tr>
            <td>DisabilityResources:</td>
            <td><input id="DisabilityResourcesRequirments" type="text" name="DisabilityResourcesRequirments" @(Html.Raw(Model.Movie.DisabilityResourcesRequirments ? "checked=\"checked\"" : "")) value="@Model.Movie.DisabilityResourcesRequirments" /></td>
        </tr>

        <tr>
            <td>Customer</td>
            <td>
                <select id="CustomerId" name="CustomerId">
                    <option value="">Select Customers</option>
                    @for (int i = 0; i < @Model.Customers.ToList().Count(); i++)
                    {
                        <option value="@Model.Customers.ToList()[i].id">
                            @Model.Customers.ToList()[i].Name
                        </option>
                    }
                    @*@foreach (var customer in @Model.Customers)
                        {
                            <option value=@customer.id>
                                @customer.id
                            </option>
                        }*@
                </select>
            </td>
        </tr>

    </table>
    <input type="submit" value="save" />

    <div>
        @Html.ActionLink("Back to the previous page", "Details", new { id = @Model.Movie.Id });
        @Html.ActionLink("Back to List", "Index")
    </div>

</form>


