@model WebApplication2.ViewModel.CustomerViewModel
@*@{
        ViewBag.Title = "Edit";
    }*@
<h2>Edit</h2>

@*<form action="/Customer/Edit/@Model.id/@Model.Name/true/@Model.CurrentMembershipTypeId" method="post">*@

<form action="/Customer/Edit" method="post">
    <table>
        @*<tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsSubscribedToNewLetter:</th>
            </tr>*@

        <tr>
            <td>Id:</td>
            <td><label for="CustomerId">ID:</label></td>
            <td><input id="Customerid" type="number" name="Customerid" value="@Model.Customer.id" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input id="CustomerName" type="text" name="CustomerName" value="@Model.Customer.Name" /></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input id="Age" type="number" name="Age" value="@Model.Customer.Age" /></td>
        </tr>
        <tr>
            <td>Is the Customer still a student:</td>
            <td><input id="StudentStatus" type="text" name="StudentStatus" @(Html.Raw(Model.Customer.StudentStatus ? "checked=\"checked\"" : "")) value="@Model.Customer.StudentStatus" /></td>
        </tr>
        <tr>
            <td>Bill:</td>
            <td><input id="Bill" type="number" name="Bill" value="@Model.Customer.Bill" /></td>
        </tr>
        <tr>
            <td>Disable:</td>
            <td><input id="Disable" type="text" name="Disable" @(Html.Raw(Model.Customer.Disable ? "checked=\"checked\"" : "")) value="@Model.Customer.Disable" /></td>
        </tr>
        <tr>
            <td>IsSubscribedToNewLetter:</td>
            <td><input id="CustomerisSubscribedToNewsLetter" type="text" name="CustomerIsSubscribedToNewsLetter" @(Html.Raw(Model.Customer.IsSubscribedToNewsletter ? "checked=\"checked\"" : "")) value="@Model.Customer.IsSubscribedToNewsletter" /></td>
        </tr>

        <tr>

            <td>MembershipType:</td>
            <td>
                <select id="MembershipTypeId" name="MembershipTypeId">
                    <option value="">Select MembershipType</option>
                    @foreach (var membershipType in @Model.MembershipTypes)
                    {
                        <option value=@membershipType.Id>
                            @membershipType.Id
                        </option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Movie:</td>
            <td>
                <select id="MovieId" name="MovieId">
                    <option value="">Select Movies</option>
                    @foreach (var movie in @Model.Movies)
                    {
                        <option value=@movie.Id>
                            @movie.Name
                        </option>
                    }
                </select>
            </td>
        </tr>

    </table>
    <input type="submit" value="save" />
    <br />

    <div>
        @Html.ActionLink($"Back to {Model.Customer.Name} ", "Details", new { id = @Model.Customer.id })
        @Html.ActionLink("Back to List", "Index")
    </div>
</form>
